<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="static/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the DeEncrypt ChatBox</h1>
        <div class="links">
            <a href="/encrypt" class="box-link">Encrypt Message</a>
            <a href="/decrypt" class="box-link">Decrypt Message</a>
        </div>
    </div>
</body>
</html>
